/*---------------------------------------------- GLOBAL SETTINGS */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding: 0px; margin: 0px; }
html { border: 0; margin: 0; padding: 0; width: 100%; height: 100%; }
body { border: 0; margin: 0; padding: 0; width: 100%; height: 100%; position: relative; background-color: #fff;  font-family: 'Livvic', sans-serif; font-size: 14px; line-height: 20px; }

/* -------------------------------------------------------------- HTML5 TAGS */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
img { display: block; max-width: 100%; }

/* -------------------------------------------------------------- LINKS */
a {  font-family: 'Livvic', sans-serif; color: #07b1e9; text-decoration: none; font-size: 14px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
a:hover { text-decoration: none; }

/* ----------------------------------------------------------- HEADINGS */
h1, h2, h3, h4, h5, h6 { font-family: 'Livvic', sans-serif; margin: 0; padding: 0; }
h1 {   }
h2 { font-size: 36px; line-height: 46px; color: #28204f; font-weight: 300; text-transform: capitalize; position: relative; margin-bottom: 20px; }
h3 { font-size: 30px; line-height: 36px; color: #28204f; font-weight: 300; text-transform: capitalize; text-align: center; position: relative; padding-bottom: 30px; margin-bottom: 30px; }
h3:before, h3:after { content: ""; position: absolute; left: 50%; height: 2px; background-color: #39aed9; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }
h3:before { width: 120px; bottom: 10px; }
h3:after { width: 60px; bottom: 0px; }
h4 { font-size: 24px; line-height: 30px; color: #28204f; font-weight: 500; margin-bottom: 20px; }
h5 { font-size: 20px; line-height: 26px; color: #212121; font-weight: 400; }
h6 { font-size: 16px; line-height: 22px; color: #28204f; font-weight: 300; }

/* ----------------------------------------------------- BASE TYPOGRAPHY */
p { font-family: 'Livvic', sans-serif; font-size: 14px; line-height: 24px; font-weight: 300; color: #818181; margin: 0px 0px 15px; }
p:last-of-type { margin: 0px; }
ul li { font-family: 'Livvic', sans-serif; list-style: none; color: #666; }
ul li a { font-family: 'Livvic', sans-serif; color: #666; }
ol li { list-style: decimal; }

/*-------------------------------------------- NESTED LISTS */
ul ul { padding: 0; }
ol ol { padding: 0; }

/*-------------------------------------------- COMMON FORMATTING */
figure, ul, ol { margin: 0; padding: 0 0 0 0; }
ul, ol { padding: 0 0 0 0; }
blockquote { margin: 1.25em; padding: 1.25em 1.25em 0 1.25em; }
sup { position: relative; bottom: 0.3em; vertical-align: baseline; }
sub { position: relative; bottom: -0.2em; vertical-align: baseline; }
acronym, abbr { cursor: help; letter-spacing: 1px; border-bottom: 1px dashed; }

/*-------------------------------------------------------- LINK */
a, a:link, a:visited, a:hover, a:active { outline: none; }

/*------------------------------------------------------- FORMS */
form { margin: 0; padding: 0; display: inline; }
label, textarea, input[type=text], input[type=password] { font-family: 'Livvic', sans-serif; cursor: text; }
input[type=submit], input[type=button], select { font-family: 'Livvic', sans-serif; cursor: pointer; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
input[type=text], input[type=password] { outline: none; color: #666; }

input:not([type="button"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
textarea,
select { width: 100%; height: 44px; font-size: 13px; line-height: 20px; color: #28204f; font-weight: normal; padding: 10px; background-color: #fff; border: 1px solid #ddd; border-radius: 5px; }
textarea { resize: none; height: 120px; }
select { background-image: url(../images/select-dropdown.png); background-repeat: no-repeat; background-position: right 10px center; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none; padding-right: 30px; }
input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):focus,
select:focus,
textarea:focus { outline: none !important; }
label { color: #28204f; font-size: 13px; font-weight: normal; display: block; text-align: left; }
input[type="submit"], button.submit { background: #39aed9; color: #fff; padding: 10px 25px; font-size: 14px; font-weight: 700; border: none; border-radius: 5px; text-transform: uppercase; cursor: pointer; }
input[type="submit"]:hover, button.submit:hover,
input[type="submit"]:focus, button.submit:focus { background: #28204f; color: #fff; }
input[type=file] { position: absolute; filter: alpha(opacity=0); opacity: 0; left: 0px; }

::-webkit-input-placeholder { color: #28204f; opacity: 1; }
:-moz-placeholder { color: #28204f; opacity: 1; }
::-moz-placeholder { color: #28204f; opacity: 1; }
:-ms-input-placeholder { color: #28204f; opacity: 1; }

/*------------------------------------------------------- CONTAINER */
.container { max-width: 1230px; margin: 0 auto; padding: 0 15px; position: relative; z-index: 3; }
.container:after { content: ""; display: table; clear: both; }
.row { -webkit-display: flex; display: flex; -webkit-flex-flow: wrap; flex-flow: wrap; }		
.btn { display: inline-block; vertical-align: top; font-size: 13px; line-height: 20px; color: #fff; background-color: #ffc107; text-transform: capitalize; font-weight: 400; text-align: center; border: none; padding: 10px 30px; border-radius: 30px; cursor: pointer; }

@media only screen and (max-width: 1050px) {}
@media only screen and (max-width: 979px) {}
@media only screen and (max-width: 767px) {
	h2 { font-size: 30px; line-height: 36px; margin-bottom: 10px; }
	h3 { font-size: 24px; line-height: 30px; margin: 0px; padding-bottom: 5px; }
	h3:before, h3:after { display: none; }
	h4 { font-size: 18px; line-height: 24px; margin-bottom: 10px; }
	h5 { font-size: 16px; line-height: 22px; }
	h6 { font-size: 14px; line-height: 20px; }
	p { font-size: 12px; line-height: 20px; }
}
@media only screen and (max-width: 639px) {
	h2 { font-size: 26px; line-height: 32px; }
	h3 { font-size: 22px; line-height: 28px; }
}
@media only screen and (max-width: 479px) {
	h2 { font-size: 24px; line-height: 30px; }
	h3 { font-size: 20px; line-height: 26px; }
}
@media only screen and (max-width: 359px) {}


/* =======================================================
CSS FOR THE PROJECT STARTS HERE
======================================================= */
/*
HOME PAGE
*/
/* Header -------------------------------------------------*/
.header { background-color: rgba(255, 255, 255, 0.9); padding: 10px 0px; position: absolute; left: 0px; top: 0px; width: 100%; z-index: 21; }
.header .row { justify-content: space-between; align-items: center; }
.header .logo .a { display: block; }
.header ul { -webkit-display: inline-flex; display: inline-flex; -webkit-flex-flow: wrap; flex-flow: wrap; }
.header ul li { margin-right: 30px; }
.header ul li:last-child { margin-right: 0px; display: none; }
.header ul li a { display: block; font-size: 14px; line-height: 20px; text-transform: capitalize; color: #28204f; padding: 5px 0px; position: relative; }
.header ul li a:before { content: ""; position: absolute; left: 0px; bottom: 0pc; width: 0px; height: 2px; background-color: #39aed9; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.header ul li a:hover { color: #39aed9; }
.header ul li a:hover:before { width: 100%; }
.header ul li.login a { padding: 5px 20px; border: 1px solid #28204f; border-radius: 30px; }
.header ul li.login a:before { display: none; }
.header ul li.login a:hover { border-color: #39aed9; background-color: #39aed9; color: #fff; }

@media only screen and (max-width: 979px) {
	.header { position: relative; background-color: rgba(255, 255, 255, 1); }
}
@media only screen and (max-width: 639px) {
	.header { padding: 5px 0px; }
}
@media only screen and (max-width: 479px) {
	.header .toggle { display: block; }
	.header ul { position: fixed; left: -272px; top: 0px; display: block; width: 270px; height: 100%; background-color: #28204f; padding: 20px 0px; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; -ms-transition: all ease 0.5s; -o-transition: all ease 0.5s; transition: all ease 0.5s; z-index: 22; }
	.overflow-hidden .header ul { left: 0px; }
	.header ul li { width: 100%; margin: 0px; border-bottom: 1px solid #ddd; }
	.header ul li a { color: #fff; padding: 10px; }
	.header ul li.login a { padding: 10px; border: none; border-radius: 0px; }
	.header ul li a:hover,
	.header ul li.active a,
	.header ul li.login a:hover { background-color: #39aed9; color: #fff; }
}


/* Banner -------------------------------------------------*/
.banner {  }
.banner .item { position: relative; }
.banner .item:before { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(40, 32, 79, 0.7); z-index: 3; }
.banner .item .caption { width: 100%; padding: 0px 15px; text-align: center; position: absolute; left: 0px; top: 55%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: 5; }
.banner h2 { max-width: 700px; margin: 0 auto 10px; color: #fff; }
.banner p { max-width: 700px; margin: 0 auto; color: #fff; }
.banner button { min-width: 100px; font-size: 16px; line-height: 22px; color: #28204f; background-color: #ffc107; text-transform: capitalize; font-weight: 400; text-align: center; border: none; padding: 15px 40px; border-radius: 30px; cursor: pointer; margin-top: 30px; }
.banner button:hover { background-color: #39aed9; color: #fff; }

.banner .owl-carousel .owl-nav .owl-next, 
.banner .owl-carousel .owl-nav .owl-prev { width: 37px; height: 203px; background-repeat: no-repeat; background-position: center; text-indent: -99999px; overflow: hidden; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.banner .owl-carousel .owl-nav .owl-prev { left: 20px; background-image: url('../images/banner_left_slide.png'); }
.banner .owl-carousel .owl-nav .owl-next { right: 20px; background-image: url('../images/banner_right_slide.png'); }

@media only screen and (max-width: 979px) {
	.banner .item .caption { top: 50%; }
	.banner .owl-carousel .owl-nav { display: none; }
}
@media only screen and (max-width: 767px) {
	.banner button { font-size: 14px; line-height: 20px; padding: 10px 30px; margin-top: 20px; }
}
@media only screen and (max-width: 639px) {
	.banner p { display: none; }
	.banner button { margin-top: 0px; }
}
@media only screen and (max-width: 479px) {
	.banner h2 { font-size: 20px; line-height: 26px; }
	.banner button { font-size: 13px; line-height: 20px; padding: 7px 20px; min-width: inherit; }
}


/* Looking For -------------------------------------------------*/
.looking-for { padding: 80px 0px; text-align: center; }
.looking-for .row { margin-top: 40px; }
.looking-for .block { width: 33.33%; padding: 40px 20px 0px; }
.looking-for .image-block { position: relative; width: 100%; height: 120px; line-height: 166px; margin-bottom: 25px; text-align: center; }
.looking-for .image-block img { max-width: 60px; display: inline-block; }
.looking-for figure { position: absolute; text-align: left; left: 50%; top: 50%; width: 120px; height: 80px; border-radius: 12px; background-color: #39aed9; -webkit-transform: translate3d(-50%, -50%, 0); -moz-transform: translate3d(-50%, -50%, 0); -ms-transform: translate3d(-50%, -50%, 0); -0-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; z-index: -1; }
.looking-for figure:before, .looking-for figure:after { content: ""; position: absolute; display: inline-block; width: inherit; height: inherit; border-radius: inherit; background-color: inherit; }
.looking-for figure:before { transform: rotate(60deg); }
.looking-for figure:after { transform: rotate(-60deg); }
.looking-for .block:hover figure { background-color: #28204f; width: 80px; height: 120px; }
.looking-for .block:hover figure:before { transform: rotate(-60deg); }
.looking-for .block:hover figure:after { transform: rotate(60deg); }
.looking-for h4 { text-transform: capitalize; margin-bottom: 10px; }

@media only screen and (max-width: 979px) {
	.looking-for { padding: 60px 0px; }
	.looking-for .block { padding: 40px 15px 0px; }
}
@media only screen and (max-width: 767px) {
	.looking-for { padding: 50px 0px; }
	.looking-for .block { padding: 10px 15px 0px; }
	.looking-for h4 { margin-bottom: 5px; }
}
@media only screen and (max-width: 639px) {
	.looking-for { padding: 40px 0px; }
	.looking-for .row { justify-content: center; }
	.looking-for .block { padding: 0px 15px 40px; width: 50%; }
	.looking-for .block:last-child { padding-bottom: 0px; }
}
@media only screen and (max-width: 479px) {
	.looking-for { padding: 30px 0px; }
	.looking-for .block { width: 100%; }
	.looking-for .image-block { margin-bottom: 20px; }
}


/* About Us -------------------------------------------------------*/
.about-us { background-color: #f6f6f6; }
.about-us .row { align-items: center; }
.about-us .aside { width: 50%; }
.about-us .block { max-width: 600px; padding: 20px 0px 20px 50px; }
.about-us h2 a { font-size: 36px; line-height: 46px;color: #39aed9; font-weight: 500; }
.about-us h2 a:hover { color: #28204f; } 
.about-us .image-aside img { width: 100%; }

@media only screen and (max-width: 979px) {
	.about-us .aside { width: 100%; }
	.about-us .block { max-width: 100%; padding: 15px; }
}


/* what-we-do -------------------------------------------------*/
.what-we-do { padding: 80px 0px; text-align: center; }
.what-we-do .row { margin-top: 60px; }
.what-we-do .block { width: 32%; margin-right: 2%; padding: 40px 25px; background-color: #fff; -webkit-box-shadow: 0px 5px 15px #ddd; -moz-box-shadow: 0px 5px 15px #ddd; -ms-box-shadow: 0px 5px 15px #ddd; -o-box-shadow: 0px 5px 15px #ddd; box-shadow: 0px 5px 15px #ddd; text-align: left; }
.what-we-do .block:nth-child(3n), .what-we-do .block:last-child { margin-right: 0px; }
.what-we-do h5 { margin-bottom: 10px; }
.what-we-do img { max-height: 60px; margin-bottom: 25px; }

@media only screen and (max-width: 1050px) {
	.what-we-do { padding: 70px 0px; }
}
@media only screen and (max-width: 979px) {
	.what-we-do { padding: 60px 0px; }
}
@media only screen and (max-width: 767px) {
	.what-we-do { padding: 50px 0px; }
	.what-we-do .row { margin-top: 30px; }
}
@media only screen and (max-width: 639px) {
	.what-we-do { padding: 40px 0px; }
	.what-we-do .row { justify-content: center; }
	.what-we-do .block { width: 49%; margin-bottom: 20px; }
	.what-we-do .block:nth-child(2n) { margin-right: 0px; }
	.what-we-do .block:last-child { margin-bottom: 0px; }
}
@media only screen and (max-width: 479px) {
	.what-we-do { padding: 30px 0px; }
	.what-we-do .row { margin-top: 20px; }
	.what-we-do .block { width: 100%; margin-right: 0px; padding: 25px 15px; }
	.what-we-do h5 { margin-bottom: 5px; }
}


/* Contact Us -------------------------------------------------*/
.contact-us { padding: 0px 0px 50px; text-align: center; }
.contact-us h5 a { font-size: 20px; line-height: 24px; font-style: italic; color: #222; text-decoration: underline; }
.contact-us h5 span { font-style: italic; color: #222; }

@media only screen and (max-width: 767px) {
	.contact-us { padding: 0px 0px 40px; }
	.contact-us h5 a { font-size: 16px; line-height: 22px; color: #39aed9; }
}
@media only screen and (max-width: 639px) {
	.contact-us { padding: 0px 0px 30px; }
}


/* Footer -------------------------------------------------*/
.footer { position: relative; padding: 70px 0px 30px; }
.footer .footer-bg { position: absolute; left: 0px; top: 70px; bottom: 0px; right: 0px; background-color: #28204f; width: 100%; }
.footer .skew { background: #28204f; height: 70px; transform: skew(0, -1.5deg); transform-origin: top right; position: absolute; top: 0; left: 0; width: 100%; }
.footer .row { justify-content: space-between; align-items: center; }
.footer .copyright { text-align: right; }
.footer a { display: inline-block; vertical-align: top; }
.footer p { font-size: 14px; color: #39aed9; margin-top: 10px; }
.footer li { display: inline-block; vertical-align: top; padding: 0px 10px; position: relative; }
.footer li:first-child { padding-left: 0px; }
.footer li:last-child { padding-right: 0px; }
.footer li:before { content: "|"; position: absolute; right: -3px; top: 0px; color: #39aed9; }
.footer li:last-child:before { display: none; }
.footer li a { font-size: 13px; line-height: 20px; color: #39aed9; }
.footer li a:hover { color: #fff; }

@media only screen and (max-width: 639px) {
	.footer { background-color: #28204f; padding: 30px 0px; }
	.footer .skew, .footer .footer-bg { display: none; }
}
@media only screen and (max-width: 479px) {
	.footer { padding: 25px 0px; }
	.footer .row { justify-content: center; }
}


/* Login Popup -------------------------------------------------*/
#trigger { text-align: center; }
.popupbox, .popupbox2 { width: 400px; height: auto; max-height: 98%; overflow-x: hidden; overflow-y: auto; background: #fff; display: none; position: fixed; top: 50%; left: 50%; z-index: 99999; }
#fade { display: none; background: #28204f; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.7; z-index: 9999; }
#close img { text-decoration: none; }
#close, #close2 { width: 14px; height: 11px; position: absolute; float: right; right: 8px; top: 5px; }
.flex-body { padding: 30px 60px; text-align: center; }
.flex-body h4 { color: #28204f; text-transform: capitalize; margin: 0px 0px 5px; }
.flex-body h6 { color: #28204f; font-size: 13px; line-height: 20px; margin-bottom: 20px; }
.flex-body ul {  }
.flex-body li { position: relative; margin-bottom: 15px; }
.flex-body li .block { width: calc(100% - 50px); position: relative; display: inline-block; vertical-align: top; }
.flex-body li figure { width: 44px; height: 44px; border-radius: 5px; border: 1px solid #ddd; display: inline-block; vertical-align: top;
    margin-left: 2px; overflow: hidden; }
.flex-body li figure img { width: 100%; height: 100%; }
.flex-body ul li:last-child { margin-bottom: 0px; }
.flex-body input[type="submit"] { width: 100%; background: #39aed9; color: #fff; padding: 10px 25px; font-size: 14px; font-weight: 700; border: none; border-radius: 5px; text-transform: uppercase; cursor: pointer; }
.flex-body input[type="submit"]:hover { background: #28204f; color: #fff; }
.flex-body p { font-size: 13px; line-height: 20px; text-align: left; color: #28204f; }
.flex-body p span { display: inline-block; vertical-align: middle; margin-left: 8px; text-transform: capitalize; }
.flex-body input[type="radio"] { width: 18px; height: 18px; display: inline-block; vertical-align: bottom; margin-right: 3px; }
.flex-body p a { color: #39aed9; }
.flex-body p a:hover { color: #28204f; text-decoration: underline; }
.frgt-pswd, .signup-button, .signup-button2 { font-size: 14px; margin-left: 10px; color: #949494; text-decoration: none; }
.right-align { text-align: right; }
.more {display: block;}
.morecontent { display: inline-block; vertical-align: top; margin: 5px 0px 0px; }
.morecontent span { display: none; float: left; }
.morelink { display: inline-block; font-size: 12px; line-height: 20px; margin: 0; color: #28204f; text-decoration: underline; margin-left: -10px; }
.morelink:hover { color: #39aed9; text-decoration: underline; }
.morecontent span h2 { font-size: 14px; margin: 10px 0 0 0; color: #000; font-weight: 700; }
.morecontent span p { font-size: 12px; margin: 5px 0px; }
[type=file] + label { border: 1px solid #ddd; border-radius: 5px; text-align: left; padding: 0px 15px 0px 50px; width: 100%; height: 44px; left: 0; top: 0px; font-size: 13px; line-height: 42px; font-weight: 400; color: #28204f; background-image: url('../images/add-file.png'); background-position: 12px 10px; background-repeat: no-repeat; background-color: #fff; display: block; cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

@media only screen and (max-width: 479px) {
	.popupbox, .popupbox2 { width: calc(100% - 30px); left: 51%; }
	.flex-body { padding: 30px; }
}


/* ============================================
AFTER LOGIN PAGE
============================================ */

/*Header------------------------------------------------*/
.site-header { background-color: #fdfdfd; -webkit-display: flex; display: flex; -webkit-flex-flow: wrap; flex-flow: wrap; justify-content: space-between; height: 78px; }
.site-header .logo { float: left; width: 17%; background-color: #fafafb; text-align: center; padding: 11px 0px; }
.site-header .logo a { display: inline-block; }
.site-header .logo img { max-height: 54px; }
.site-header .right-header { -webkit-display: inline-flex; display: inline-flex; -webkit-flex-flow: wrap; flex-flow: wrap; align-items: center; padding-right: 15px; }

.site-header h6 { font-size: 13px; line-height: 20px; margin-right: 30px; padding: 5px 10px; border: 1px solid #28204f; border-radius: 5px; }
.site-header h6 span { font-weight: 700; display: inline; margin-left: 5px; }

.site-header .user-profile { position: relative; }
.site-header .profile { display: block; font-size: 13px; line-height: 20px; color: #5c5c5c; text-transform: capitalize; font-weight: 600; background-image: url('../images/dropdown-arrow.png'); background-repeat: no-repeat; background-position: right center; padding-right: 20px; }
.site-header .clickslide { width: 160px; background-color: #fff; position: absolute; right: 0px; top: 37px; -webkit-box-shadow: 0px 4px 10px #ddd; -moz-box-shadow: 0px 4px 10px #ddd; -ms-box-shadow: 0px 4px 10px #ddd; -o-box-shadow: 0px 4px 10px #ddd; box-shadow: 0px 4px 10px #ddd; z-index: 21; }
.site-header .clickslide:before { content: ""; position: absolute; right: 10px; top: -7px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #fff; }
.site-header .clickslide li { border-bottom: 1px solid #ddd; }
.site-header .clickslide li:last-child { border-bottom: none; }
.site-header .clickslide li a { font-size: 12px; line-height: 20px; color: #666; text-transform: capitalize; padding: 8px 5px; display: block; }
.site-header .clickslide li a:hover { background-color: #28204f; color: #fff; }

.site-header .notification { margin-right: 30px; position: relative; }
.site-header .notification .bell { background-image: url('../images/icon-bell.png'); background-repeat: no-repeat; background-position: center; display: block; width: 40px; height: 40px; -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -ms-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease; }
.site-header .notification .bell span { width: 20px; height: 20px; background-color: #39aed9; border-radius: 50%; display: block; font-size: 12px; line-height: 20px; color: #fff; font-weight: 600; text-align: center; position: absolute; right: 0px; top: 0px; }
.site-header .notification.dropdown-active .bell { background-image: url('../images/icon-bell-active.png'); }
.site-header .notificationSlide { width: 300px; background-color: #fff; position: absolute; right: 0px; top: 50px; -webkit-box-shadow: 0px 4px 10px #ddd; -moz-box-shadow: 0px 4px 10px #ddd; -ms-box-shadow: 0px 4px 10px #ddd; -o-box-shadow: 0px 4px 10px #ddd; z-index: 21; }
.site-header .notificationSlide:before { content: ""; position: absolute; right: 10px; top: -7px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #fff; }
.site-header .notificationSlide li { font-size: 12px; line-height: 20px; color: #666; text-transform: capitalize; padding: 10px; border-bottom: 1px solid #ddd; }
.site-header .notificationSlide li:last-child { border-bottom: none; }

/* ToggleMenu */
.toggle { width: 38px; height: 22px; padding: 0; cursor: pointer; float: right; position: relative; display: none; margin-left: 30px; }
.toggle span { background-color: #f44437; height: 4px; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); transition: margin 0.3s ease 0.3s, opacity 0s ease 0.3s, transform 0.3s ease 0s, background-color 0.35s ease 0s; width: 35px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.toggle span:first-of-type { margin-top: -7px; width: 27px; margin-left: 4px; }
.toggle span:last-of-type { margin-top: 7px; width: 29px; margin-left: -4px; }
.toggle.is-clicked span { opacity: 0; -webkit-transition: margin 0.3s ease 0s, opacity 0s ease 0.3s, transform 0.3s ease 0.3s; transition: margin 0.3s ease 0s, opacity 0s ease 0.3s, transform 0.3s ease 0.3s; }
.toggle.is-clicked span:first-of-type { margin-top: 0; opacity: 1; -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); margin-left: 0; }
.toggle.is-clicked span:last-of-type { margin-top: 0; opacity: 1; -webkit-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); margin-left: 0; }

@media only screen and (max-width: 979px) {
	.site-header .toggle { display: block; }
}
@media only screen and (max-width: 767px) {
	.site-header { height: 63px; }
	.site-header .logo { width: 25%; padding: 5px 0px; }
	.site-header .logo img { max-height: 48px; }
}
@media only screen and (max-width: 479px) {
	.site-header .logo { width: auto; padding: 5px; }
	.site-header .logo img { max-height: 40px; }
	.site-header .right-header { padding-right: 5px; }
	.site-header h6 { font-size: 12px; margin-right: 15px; padding: 3px 5px; }
	.site-header .notification { margin-right: 15px; }
	.site-header .notificationSlide { width: 250px; margin-right: -60px; }
	.site-header .notificationSlide:before { right: 70px; }
	.site-header .notification .bell { width: 30px; height: 30px; background-size: 20px auto; }
	.site-header .notification .bell span { width: 18px; height: 18px; right: -3px; top: -3px; }
	.site-header .profile { font-size: 12px; font-weight: 400; padding-right: 15px; }
	.toggle { width: 28px; height: 18px; margin-left: 15px; }
	.toggle span { width: 25px; height: 2px; }
	.toggle span:first-of-type { margin-top: -6px; width: 17px; }
	.toggle span:last-of-type { margin-top: 6px; width: 19px; }
}
@media only screen and (max-width: 359px) {
	.site-header h6 { margin-right: 6px; }
	.site-header .notification { margin-right: 8px; }
	.toggle { width: 28px; height: 18px; margin-left: 8px; }
}


/*Main Content------------------------------------------------*/
.main-content { width: 100%; height: calc(100% - 78px); -webkit-display: flex; display: flex; -webkit-flex-flow: wrap; flex-flow: wrap; }

.left-aside { width: 17%; background-color: #28204f; height: 100%; overflow: hidden; }
.left-aside nav { height: 100%; }
.left-aside nav ul { height: 100%; overflow-x: hidden; overflow-y: auto; }
.left-aside nav li {  }
.left-aside nav li a { font-size: 14px; line-height: 20px; text-transform: capitalize; color: #fff; padding: 25px 25px 25px 70px; display: block; background-repeat: no-repeat; position: relative; }
.left-aside nav li.list a { background-image: url('../images/icon-home-list.png'); background-position: 25px 22px; }
.left-aside nav li.add a { background-image: url('../images/icon-add-home.png'); background-position: 25px 21px; }
.left-aside nav li.profile-settings a { background-image: url('../images/icon-profile-setting.png'); background-position: 25px 21px; }
.left-aside nav li.active a, .left-aside nav li a:hover { background-color: #39aed9; }
.left-aside nav li a:before { content: ""; position: absolute; right: 0px; top: 20px; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-right: 10px solid #fff; visibility: hidden; opacity: 0; }
.left-aside nav li.active a:before, .left-aside nav li a:hover:before { visibility: visible; opacity: 1; }
.left-aside nav li span { background-color: #f44437; font-size: 14px; line-height: 20px; padding: 0px 5px; border-radius: 4px; margin-left: 10px; }

.main-panel { width: 83%; height: 100%; padding: 20px; background-color: #fff; overflow-x: hidden; overflow-y: auto; }

.white-box { width: 100%; padding: 25px; background-color: #fff; border-radius: 5px; margin-bottom: 25px; font-size: 13px; line-height: 20px; color: #222; -webkit-box-shadow: 0px 5px 16px 0px #e4e4e4; -moz-box-shadow: 0px 5px 16px 0px #e4e4e4; -ms-box-shadow: 0px 5px 16px 0px #e4e4e4; -o-box-shadow: 0px 5px 16px 0px #e4e4e4; box-shadow: 0px 5px 16px 0px #e4e4e4; }
.white-box:last-child { margin-bottom: 0px; }
.white-box h4 { font-size: 18px; line-height: 24px; color: #28204f; text-transform: capitalize; font-weight: 500; margin-bottom: 5px; }
.white-box h5 { font-size: 14px; line-height: 20px; color: #28204f; text-transform: uppercase; font-weight: bold; margin-bottom: 15px; }
.white-box h5 span { font-weight: 300; }
.white-box h6 { font-size: 12px; line-height: 18px; color: #222; font-weight: 400; margin: 0px; }
.white-box h6.reject-data { color: #ff0000; }
.white-box p { font-size: 13px; line-height: 26px; color: #222; margin-bottom: 10px; }
.white-box p:last-of-type { margin-bottom: 0px; }

.project-listing { width: 100%; padding: 20px; border-radius: 10px; overflow: hidden; position: relative; }
.project-listing:after { content: ""; display: table; clear: both; }
.project-listing .location { background-image: url("../images/icon-location-small.png"); background-repeat: no-repeat; background-position: left 4px; padding-left: 14px; text-transform: capitalize; margin-bottom: 5px; }
.project-listing a.pdf { display: inline-block; vertical-align: top; background-image: url('../images/icon-pdf.png'); background-repeat: no-repeat; background-position: 0px center; padding-left:22px; font-size: 12px; line-height: 20px; }
.project-listing a.pdf:hover { color: #28204f; }
.project-listing .buttom-block { margin-top: 20px; width: 100%; display: inline-flex; flex-flow: wrap; justify-content: space-between; }
.project-listing .buttom-block ul { width: 100%; display: block; font-size: 0px; }
.project-listing .buttom-block li { width: 23.5%; margin-right: 2%; margin-bottom: 10px; display: inline-block; vertical-align: top; font-size: 12px; line-height: 20px; color: var(--dark); }
.project-listing .buttom-block li:nth-child(4n) { margin-right: 0px; }
.project-listing .buttom-block li:last-child { margin-right: 0px; margin-bottom: 0px; margin-bottom: 0px; }
.project-listing .buttom-block li img { display: inline-block; vertical-align: top; margin-right: 5px; }
.project-listing button { position: absolute; right: 20px; top: 20px; min-width: 100px; font-size: 12px; line-height: 18px; color: #fff; text-transform: capitalize; font-weight: 300; text-align: center; border: none; padding: 8px; border-radius: 5px; cursor: pointer; }
.project-listing button.approved { background-color: #39aed9; }
.project-listing button.waiting { background-color: #ffc107; }
.project-listing button.rejected { background-color: #dc3545; }

.project-listing a.edit { float: right; font-size: 12px; line-height: 20px; color: #39aed9; text-transform: capitalize; padding: 4px 20px; border-radius: 5px; border: 1px solid #39aed9; }
.project-listing a.edit:hover { color: #fff; background-color: #39aed9; }

@media only screen and (max-width: 1099px) {
	.left-aside { width: 20%; }
	.main-panel { width: 80%; }
}
@media only screen and (max-width: 979px) {
	.left-aside { width: 270px; height: 100%; position: fixed; left: -272px; top: 0px; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; -ms-transition: all ease 0.5s; -o-transition: all ease 0.5s; transition: all ease 0.5s; z-index: 22; }
	.left-aside.show-more { left: 0px; }
	.main-panel { width: 100%; padding: 15px; }
}
@media only screen and (max-width: 767px) {
	.white-box { padding: 20px; }
	.main-content { height: calc(100% - 63px); }
}
@media only screen and (max-width: 639px) {
	.white-box { padding: 15px; }
	.project-listing { padding: 15px 15px 40px; }
	.project-listing .buttom-block li { width: 32%; }
	.project-listing .buttom-block li:nth-child(4n) { margin-right: 2%; }
	.project-listing .buttom-block li:nth-child(3n) { margin-right: 0px; }
	.project-listing button { min-width: inherit; width: 100%; left: 0px; bottom: 0px; top: auto; right: auto; border-radius: 0px; }
}
@media only screen and (max-width: 479px) {
	.project-listing .buttom-block li { width: 49%; }
	.project-listing .buttom-block li:nth-child(3n) { margin-right: 2%; }
	.project-listing .buttom-block li:nth-child(2n) { margin-right: 0px; }
}


/*Add Home------------------------------------------------*/
.add-home { width: 100%; overflow: hidden; position: relative; }
.add-home h3 { padding: 0px; margin: 0px 0px 20px; text-align: left; }
.add-home h3:before, .add-home h3:after { display: none; }

.add-home form { display: block; }
.add-home ul li { margin-bottom: 15px; }
.add-home ul li:last-child { margin-bottom: 0px; margin-top: 25px; }
.add-home ul li.address { margin-top: 25px; }
.add-home ul li.first-hide { margin-top: -20px; }
.add-home ul li:after { content: ""; display: table; clear: both; }
.add-home ul li fieldset { height: 44px; border: none; padding: 10px 0px; }
.add-home ul li label { text-transform: capitalize; }
.add-home ul li fieldset span { display: inline-block; vertical-align: middle; font-size: 13px; line-height: 20px; color: #28204f; text-transform: capitalize; margin-right: 15px; }
.add-home ul li fieldset span:last-child { margin-right: 0px; }
.add-home ul li input[type="radio"] { width: 20px; height: 20px; display: inline-block; vertical-align: middle; margin-right: 5px; }
.col { width: 100%; }
.col-2 { width: 49%; margin-right: 2%; float: left; }
.col-2:nth-child(2n) { margin-right: 0px; }
.col-3 { width: 32%; margin-right: 2%; float: left; }
.col-3:nth-child(3n) { margin-right: 0px; }
.add-home input[type="button"] { background-color: #39aed9; color: #fff; font-size: 16px; line-height: 22px; text-transform: uppercase; font-weight: 400; padding: 12px 60px; border: none; border-radius: 5px; float: right; }
.add-home input[type="button"]:hover { background-color: #28204f; }

@media only screen and (max-width: 639px) {
	.add-home h3 { margin: 0px 0px 10px; }
	.add-home ul li { margin-bottom: 10px; }
	.col-2 { width: 100%; margin-right: 0px; margin-bottom: 10px; }
	.col-2:last-child { margin-bottom: 0px; }
	.col-3 { width: 100%; margin-right: 0px; margin-bottom: 10px; }
	.col-3:last-child { margin-bottom: 0px; }
}


/*Profile Status------------------------------------------------*/
.profile-status { padding: 0px; }
.profile-status .status { display: inline-flex; flex-flow: wrap; width: 100%; justify-content: space-between; align-items: center; background-color: #39aed9; padding: 10px 15px; border-radius: 5px 5px 0px 0px; }
.profile-status .status .btn.waiting { background-color: #ffc107; }
.profile-status .status .btn.waiting:hover { background-color: #28204f; }
.profile-status .status .btn.approved { background-color: #28204f; }
.profile-status .status .btn.approved:hover { background-color: #ffc107; }
.profile-status .status .btn.rejected { background-color: #dc3545; }
.profile-status .status h4 { color: #fff; margin: 0px; }
.profile-status .profile-details { padding: 25px; }
.profile-status ul { margin-bottom: 25px; }
.profile-status li { display: inline-flex; flex-flow: wrap; width: 100%; margin-bottom: 15px; position: relative; }

.profile-status li label { display: block; width: 200px; color: #28204f; text-align: left; text-transform: capitalize; padding-right: 30px;  }
.profile-status li figure { width: 100px; height: 100px; border-radius: 5px; border: 1px solid #ddd; padding: 2px; position: relative; }
.profile-status li figure img { width: 100%; height: 100%; border-radius: 5px; display: inline-block; vertical-align: top; }

.profile-status li figure label.btn-file { background-image: url('../images/add-file.png'); background-repeat: no-repeat; background-position: center; background-size: 20px; background-color: #ffc107; margin: 0px; padding: 0px; width: 36px; height: 36px; overflow: hidden; border-radius: 50%; position: absolute; right: -14px; bottom: -13px; display: block; cursor: pointer; z-index: 99; }
.profile-status li figure label.btn-file input[type=file] { cursor: inherit; display: block; font-size: 10px; filter: alpha(opacity=0); min-height: 100%; min-width: 100%; opacity: 0; position: absolute; right: 0; text-align: right; top: 0; height: 36px !important; z-index: 999; }
.profile-status .reject-data { color: red; margin-bottom: 25px; }
.profile-status input[type="submit"],
.profile-status button.submit { padding: 12px 45px; border-radius: 30px; }

@media only screen and (max-width: 767px) {
	.profile-status .profile-details { padding: 20px }
}
@media only screen and (max-width: 639px) {
	.profile-status .profile-details { padding: 15px }
	.profile-status li { margin-bottom: 10px; }
	.profile-status .status .btn { padding: 10px 20px; }
	.profile-status .reject-data { margin-bottom: 15px; }
}
@media only screen and (max-width: 479px) {
	.profile-status .status { justify-content: center; }
	.profile-status .status h4 { margin-bottom: 5px; }
	.profile-status .status .btn { padding: 8px 20px; }
}


/* Custom Popup------------------------------------------------------------------- */
.custom-popup { position: fixed; left: 0; top: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.6); opacity: 0; visibility: hidden; -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s; -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s; transition: opacity 0.3s 0s, visibility 0s 0.3s; z-index: 99; }
.custom-popup.is-visible { opacity: 1; visibility: visible; -webkit-transition: opacity 0.3s 0s, visibility 0s 0s; -moz-transition: opacity 0.3s 0s, visibility 0s 0s; transition: opacity 0.3s 0s, visibility 0s 0s; }
.custom-popup-container { width: 98%; max-width: 400px; max-height: 98%; overflow-x: hidden; overflow-y: auto; background-color: #fff; border-radius: 0px; text-align: center; padding: 30px 60px; border: 1px solid #ddd; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.custom-popup-close { position: absolute; right: 10px; top: 10px; width: 25px; height: 25px; background-color: #28204f; font-size: 18px; line-height: 21px; color: #fff; text-align: center; display: block; overflow: hidden; }
.custom-popup form {  }
.custom-popup li { margin-bottom: 15px; }
.custom-popup li:last-child { margin-bottom: 0px; }
.custom-popup input[type="submit"] { width: 100%; }
.custom-popup textarea { height: 80px; }
.custom-popup h5{ margin-bottom: 15px; }

@media only screen and (max-width: 639px) {
	.custom-popup-container { padding: 30px; }
	.custom-popup-close { top: 0px; right: 0px; }
	.custom-popup li { margin-bottom: 10px; }
}


.autocomplete-items {
    width: 100%;
    background-color: #fff;
    text-align: left;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 0px 4px 10px 0px #ddd;
    -moz-box-shadow: 0px 4px 10px 0px #ddd;
    -ms-box-shadow: 0px 4px 10px 0px #ddd;
    -o-box-shadow: 0px 4px 10px 0px #ddd;
    box-shadow: 0px 4px 10px 0px #ddd;
}

.autocomplete-items > div {
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
}